*{
  box-sizing: border-box;
  --primary-color: #18181A;
  --primary2-color: #003b49;
  --secondary-color: #e4e9ec;
  --accent-color: #d08f5f;
  --border-color: #f3f3f3;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    @apply transition-all;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
    @apply bg-opacity-70;
  }